@import './controls.css';
@import './navbar.css';

:root {
    --navbar-height: 3em;
    --control-width: 20em;
    --control-input-width: 8em;

    --background-color: #eee;
    --navbar-background-color: #666;
    --navbar-text-color: #eee;
    --navbar-nav-background-color: #444;
    --navbar-nav-text-color: #eee;
}

body {
    overflow: hidden;
    font-family: sans-serif;
    margin: 0;
    background-color: var(--background-color);
}

canvas {
    width: 100vw;
    height: 100vh;
}

.d-none {
    display: none!important;
}
