include control-element.pug
mixin control-select-button(id, title, label)
    +control-element(id+'-select', title)
        .row.m-0
            select.col.form-control(id=id+'-select')
            button.btn.btn-primary.control-button.col-3.ml-2.form-control(id=id+'-button')= label
