include control-element.pug
mixin control-select-input(id, title)
    +control-element(id+'-select', title)
        .row.m-0
            select.col.form-control(id=id+'-select')
            input.col-3.ml-2.form-control(id=id+'-input')
