include control-block.pug

#controls-container
    form
        +control-block('preset-header', 'preset-group', 'Configuration Presets')
        +control-block('data-header', 'data-group', 'Data Source')
        +control-block('custom-data-header', 'custom-data-group', 'Custom Data Source')
        +control-block('position-header', 'position-group', 'Position')
        +control-block('selection-header', 'selection-group', 'Selection')
        +control-block('cluster-header', 'cluster-group', 'Clusters')
        +control-block('size-header', 'size-group', 'Size')
        +control-block('color-header', 'color-group', 'Color')
        +control-block('rendering-header', 'rendering-group', 'Rendering')
        +control-block('debug-header', 'debug-group', 'Debug')
