include control-element.pug
mixin control-button(id, title, label)
    +control-element(id+'-button', title)
        .row.m-0
            button.btn.btn-primary.control-button.col-3.form-control(id=id+'-button')= label
