include control-block.pug

#info-container.d-none
    form
        +control-block('about-header', 'about-group', 'About')
            div Contact: #[a(href='mailto:lukas.wagner@hpi.de') Mail]
        +control-block('support-header', 'support-group', 'Browser Support')
            div
                | Requires WebGL 2 support!
                br
                | Tested using Google Chrome and Mozilla Firefox.
        +control-block('acknowledgements-header', 'acknowledgements-group', 'Acknowledgements')
            div
                | Built using #[a(href='https://webgl-operate.org/') webgl-operate]
                br
                | Uses icons from #[a(href='https://fontawesome.com/') Font Awesome]
