head
    title A Framework for Interactive Exploration of Clusters in Massive Data using 3D Scatter Plots and WebGL &ndash; Web3D 2020
    meta(http-equiv='x-ua-compatible' content='ie-edge')
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='css/style.css')
    script(src='main.js')
