nav.navbar.navbar-dark.bg-dark
    .container
        a(href='index.html')
            .navbar-brand WGLOPPCV
    .navbar-toggler.btn#control-toggle(title="Show settings")
        i.text-light.fas.fa-sliders-h
    .navbar-toggler.btn#info-toggle(title="About")
        i.text-light.fas.fa-info-circle
