div#navbar-container
    div#navbar
        a(href='/') vidi // visual dataset inspector
        div#control-toggle
            i.text-light.fas.fa-sliders-h
        div#info-toggle
            i.text-light.fas.fa-info-circle
